$red: #e5493a;
$green: #8dc63f;
$white: #fff;
$bg-light: #fafafa;
$light-grey: #898989;
$dark-grey: #959595;
$black: #363636;

$raleway: "RaleWay", Verdana, sans-serif;
$roboto: "Roboto", Arial, sans-serif;

.bg-black{
  background-color: $black;
}

.bg-white {
  background-color: $white;
}
