.social {
  &-links {
    list-style: none;
    padding-top: 0.4rem;
    padding-bottom: .6rem;
    padding-left: 0;
    min-width: 140px;

  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-grey;
    color: $black;

    width: 16px;
    height: 16px;
    border-radius: 3px;

    &:hover,
    &:focus {
      background-color: $red;
      color: $black;
    }

    &:active{
      opacity: 0.8;
      color: $black;
    }

    .icons {
      margin: 0;
      top: 0;
      width: 10px;
      height: 10px;

    }
  }

  &-item {
    display: inline-block;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

}
