  .navbar-dark .navbar-nav {
    .nav-link {
      font-size: 13px;
      line-height: 16px;
      color: #898989;
      padding-top: 0.4rem;
      padding-bottom: 0.8rem;

      &__register {
        padding-left: 0;
        color: $green;
      }

      &__sigh {
        padding-right: .3rem;

      }

      &:hover,
      &:focus {
        color: $red;
      }

      &:active {
        opacity: 0.8;

      }
    }


  }

.top-nav {
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;

  .nav {
    &-link {
      display: inline-block;
      vertical-align: middle;

    }
    &-item {
      color: #898989;
      margin-right: 50px;
      white-space: nowrap;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}


.middle-nav {
  padding: 25px;

  .navbar-brand {
    font-family: Axis, Arial, sans-serif;
    font-size: 56px;
    line-height: 56px;
  }

  .nav-link {
    font-family: RaleWay, Arial, sans-serif;
    font-weight: 800;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;

  }

   .navbar-nav .nav-link {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
  }
}

.dropdown-item {
  font-size: 13px;

  &:hover,
  &:focus {
    color: $white;
    background-color: $red;
  }

  &:active {
    background-color: rgba($red, 0.8);
  }
}

.dropdown-menu {
  padding: 0.2rem 0;
}
